<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482125218738-qkms0vgcurekhl1u38bmjk252not8cnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482125218738-qkms0vgcurekhl1u38bmjk252not8cnf</string>
	<key>API_KEY</key>
	<string>AIzaSyDummy_API_Key_For_iOS_Client</string>
	<key>GCM_SENDER_ID</key>
	<string>482125218738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appForTalking</string>
	<key>PROJECT_ID</key>
	<string>talkah-oauth</string>
	<key>STORAGE_BUCKET</key>
	<string>talkah-oauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:482125218738:ios:example</string>
</dict>
</plist>