# Ignore node_modules, as it will be installed in the container
node_modules

# Ignore local environment files
.env*

# Ignore npm debug logs
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db 